<!DOCTYPE html>
<html>
<head>
    <title>Election Results</title>
</head>
<body>
    <h1>Select Polling Unit:</h1>
    <label for="polling_unit_id">Polling Unit ID:</label>
    <input type="text" id="polling_unit_id" placeholder="Enter Polling Unit ID">
    <button onclick="getResults()">Get Results</button>

    <h1>Get Total Result for Local Government:</h1>
    <label for="local_government">Local Government:</label>
    <select id="local_government">
        <option value="local_gov_1">Aniocha North</option>
	<option value="local_gov_2">Aniocha - South</option>
	<option value="local_gov_3">Ethiope East</option>
	<option value="local_gov_4">Ethiope West</option>
	<option value="local_gov_5">Ika North - East</option>
	<option value="local_gov_6">Ika - South</option>
	<option value="local_gov_7">Isoko North</option>
	<option value="local_gov_8">Isoko South</option>
	<option value="local_gov_9">Ndokwa East</option>
	<option value="local_gov_10">Ndokwa West</option>
	<option value="local_gov_11">Okpe</option>
	<option value="local_gov_12">Oshimili - North</option>
	<option value="local_gov_13">Oshimili - South</option>
	<option value="local_gov_14">Patani</option>
	<option value="local_gov_15">Sapele</option>
	<option value="local_gov_16">Udu</option>
	<option value="local_gov_17">Ughelli North</option>
	<option value="local_gov_18">Ughelli South</option>
	<option value="local_gov_19">Ukwuani</option>
	<option value="local_gov_20">Uvwie</option>
	<option value="local_gov_21">Bomadi</option>
	<option value="local_gov_22">Burutu</option>
	<option value="local_gov_23">Warri North</option>
	<option value="local_gov_24">Warri South</option>
	<option value="local_gov_25">Warri South West</option>
    </select>
    <button onclick="getTotalResult()">Get Total Result</button>

    <div id="results"></div>
    <div id="total_result"></div>

    <script>
        function getResults() {
            const pollingUnitId = document.getElementById('polling_unit_id').value;
            fetch(`/api/polling_unit_results?polling_unit_id=${pollingUnitId}`)
                .then(response => response.json())
                .then(data => {
                    const resultsDiv = document.getElementById('results');
                    resultsDiv.innerHTML = JSON.stringify(data.results, null, 2);
                })
                .catch(error => console.error('Error:', error));
        }

        function getTotalResult() {
            const localGovernment = document.getElementById('local_government').value;
            fetch(`/api/local_government_total?local_government=${localGovernment}`)
                .then(response => response.json())
                .then(data => {
                    const totalResultDiv = document.getElementById('total_result');
                    totalResultDiv.innerHTML = JSON.stringify(data.results, null, 2);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
