<!DOCTYPE html>
<html>
<head>
    <title>Election Results</title>
</head>
<body>
    <h1>Select Polling Unit:</h1>
    <label for="polling_unit_id">Polling Unit ID:</label>
    <input type="text" id="polling_unit_id" placeholder="Enter Polling Unit ID">
    <button onclick="getResults()">Get Results</button>

    <div id="results"></div>

    <h1>Get Total Result for Local Government:</h1>
    <label for="local_gov">Local Government:</label>
    <select id="local_gov">
        <option value="Aniocha North">Aniocha North</option>
        <option value="Aniocha - South">Aniocha - South</option>
        <option value="Ethiope East">Ethiope East</option>
        <option value="Ethiope West">Ethiope West</option>
        <option value="Ika North - East">Ika North - East</option>
        <option value="Ika - South">Ika - South</option>
        <option value="Isoko North">Isoko North</option>
        <option value="Isoko South">Isoko South</option>
        <option value="Ndokwa East">Ndokwa East</option>
        <option value="Ndokwa West">Ndokwa West</option>
        <option value="Okpe">Okpe</option>
        <option value="Oshimili - North">Oshimili - North</option>
        <option value="Oshimili - South">Oshimili - South</option>
        <option value="Patani">Patani</option>
        <option value="Sapele">Sapele</option>
        <option value="Udu">Udu</option>
        <option value="Ughelli North">Ughelli North</option>
        <option value="Ughelli South">Ughelli South</option>
        <option value="Ukwuani">Ukwuani</option>
        <option value="Uvwie">Uvwie</option>
        <option value="Bomadi">Bomadi</option>
        <option value="Burutu">Burutu</option>
        <option value="Warri North">Warri North</option>
        <option value="Warri South">Warri South</option>
        <option value="Warri South West">Warri South West</option>
    </select>
    <button onclick="getTotalResult()">Get Total Result</button>

    <div id="total_result"></div>


    <script>
        function getResults() {
           const pollingUnitId = document.getElementById('polling_unit_id').value;
           fetch(`/api/polling_unit_results?polling_unit_id=${pollingUnitId}`)
               .then(response => {
                   if (!response.ok) {
                       throw new Error('Network response was not ok');
                   }
                   return response.json();
               })
	       .then(data => {
		   const resultsDiv = document.getElementById('results');
	           resultsDiv.innerHTML = JSON.stringify(data, null, 2);
	       })
	       .catch(error => console.error('Error:', error));
	   }


	function getTotalResult() {
            const localGovernment = document.getElementById('local_gov').value;
            fetch(`/api/announced_pu_results?local_gov=${localGovernment}`)
                .then(response => {
		    if (!response.ok) {
		        throw new Error('Network response was not ok');
		    }
		    return response.json();
		})
                .then(data => {
                    const totalResultDiv = document.getElementById('total_result');
                    totalResultDiv.innerHTML = JSON.stringify(data, null, 2);
                })
                .catch(error => console.error('Error:', error));
        }	
     </script>
   </body>
</html>
